.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/190761f1f63ff8eba9789295055ba3214400fb54168f5bc61bbf5098a845943339350530e51af69e1749282172e264d0eb897c17bd64d74f9d2568_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 161px 0 0 645px;
}

.u-section-1-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px 171px 0 830px;
}

.u-section-1-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 24px 0 60px 658px;
}

@media (max-width: 1199px) {
  .u-section-1-1 {
    background-position: 50% 22.62%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 152px;
    margin-right: -78px;
    margin-left: 470px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin: 13px 0 60px 564px;
  }

  .u-section-1-1 .u-text-3 {
    width: 837px;
    margin-left: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 98px;
    margin-right: -181px;
    margin-left: 238px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 8px;
    margin-right: 64px;
    margin-left: 482px;
  }

  .u-section-1-1 .u-text-3 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 106px;
    margin-right: 0;
    margin-left: 341px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 354px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 31px;
    margin-right: -46px;
    margin-left: 91px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-right: 14px;
    margin-left: 217px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/lappy.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 518px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 161px 0 0 645px;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px 171px 0 830px;
}

.u-section-1-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 24px 0 60px 658px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 152px;
    margin-right: -78px;
    margin-left: 470px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin: 13px 0 60px 564px;
  }

  .u-section-1-2 .u-text-3 {
    width: 837px;
    margin-left: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 98px;
    margin-right: -181px;
    margin-left: 238px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 8px;
    margin-right: 64px;
    margin-left: 482px;
  }

  .u-section-1-2 .u-text-3 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 106px;
    margin-right: 0;
    margin-left: 341px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 354px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 156px;
    margin-right: -60px;
    margin-left: 105px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.25rem;
    margin: 0 0 24px 231px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 23px;
    margin-right: 23px;
  }
}.u-block-b220-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b220-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: none;
}

.u-block-b220-4 {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  background-image: none;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  margin: 50px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }

  .u-section-2 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 913px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 19px 402px 0;
}

.u-section-3 .u-line-1 {
  width: 372px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 13px 384px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 54px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 373px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 19px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 373px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 373px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 373px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 373px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  margin: 18px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 373px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 186px;
  height: 186px;
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 830px;
  }

  .u-section-3 .u-text-1 {
    width: 336px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-right: 284px;
    margin-left: 284px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 53px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 53px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 53px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 308px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 53px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 308px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 34px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 48px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 13px;
    margin-right: 174px;
    margin-left: 185px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-10 {
    margin-left: auto;
  }

  .u-section-3 .u-text-11 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    width: 180px;
    height: 180px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-12 {
    margin-left: auto;
  }

  .u-section-3 .u-text-13 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2228px;
  }

  .u-section-3 .u-text-1 {
    width: 344px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2152px;
  }

  .u-section-3 .u-text-1 {
    width: 336px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-right: auto;
  }

  .u-section-3 .u-image-5 {
    margin-right: auto;
  }

  .u-section-3 .u-image-6 {
    margin-right: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 378px;
}

.u-section-4 .u-list-1 {
  width: 941px;
  margin: 29px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 100px;
  height: 100px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 100px;
  height: 100px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 100px;
  height: 100px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  width: 100px;
  height: 100px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-5 {
  width: 100px;
  height: 100px;
  color: rgb(71, 138, 201) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-list-2 {
  width: 941px;
  margin: 0 auto 29px;
}

.u-section-4 .u-repeater-2 {
  min-height: 160px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-6 {
  width: 100px;
  height: 100px;
  color: rgb(3, 1, 4) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-icon-7 {
  width: 100px;
  height: 100px;
  color: rgb(71, 138, 201) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-icon-8 {
  width: 100px;
  height: 100px;
  color: rgb(71, 138, 201) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-icon-9 {
  width: 100px;
  height: 100px;
  color: rgb(71, 138, 201) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-icon-10 {
  width: 100px;
  height: 100px;
  color: rgb(17, 17, 17) !important;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-list-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-3 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .u-section-4 .u-icon-5 {
    margin-right: auto;
  }

  .u-section-4 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 140px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-icon-6 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-icon-7 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-icon-8 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-9 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-icon-9 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-icon-10 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-4 .u-list-1 {
    width: 723px;
    margin: 69px auto 60px -50px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 130px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 2px 10px 4px;
  }

  .u-section-4 .u-icon-1 {
    width: 57px;
    height: 57px;
    margin-top: 1px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 2px 10px 4px;
  }

  .u-section-4 .u-icon-2 {
    width: 57px;
    height: 57px;
    margin-top: 1px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 2px 10px 4px;
  }

  .u-section-4 .u-icon-3 {
    width: 57px;
    height: 57px;
    margin-top: 1px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 2px 10px 4px;
  }

  .u-section-4 .u-icon-4 {
    width: 57px;
    height: 57px;
    margin-top: 1px;
    margin-left: 12px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 2px 10px 4px;
  }

  .u-section-4 .u-icon-5 {
    width: 57px;
    height: 57px;
    margin-top: 1px;
    margin-left: 12px;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 351px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin: 44px 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 68px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 291px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-4 .u-list-2 {
    margin-top: 170px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 497px;
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-text-1 {
    margin: 21px 12px;
  }
}