.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-group-1 {
  width: 584px;
  min-height: 584px;
  animation-duration: 1250ms;
  margin: 60px auto 49px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 4px;
}

.u-section-1 .u-icon-1 {
  height: 114px;
  width: 114px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-form-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 60px;
    min-height: 530px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 85px;
    width: 85px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-form-1 {
    height: 291px;
    width: 320px;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
  }
}